.button-tool {
  background-color: rgba(102, 102, 102, 0.65);
  min-width: 126px;
  min-height: 66px;
  border-color: rgba(255, 255, 255, 0.65);
  border-width: 3px;
  border-radius: 10px;
  border-style: solid;
  color: #ffffff;
  margin-left: 20px;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.button-tool:focus {
  outline: 0;
}

.button-tool-text {
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 5px;
}

.button-tool-icon {
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
