.major {
  font-size: 24px;
  font-weight: bolder;
}

.sub-major {
  font-size: 20px;
  width: 220px;
  text-align: center;
}

.english-logo {
  background-color: #ffffff;
  border-radius: 40px;
  font-size: 30px;
  width: 80px;
  height: 80px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 65px;
  text-align: center;
}

.english-logo-title {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
