// @use "node_modules/bootstrap/scss/bootstrap-grid";

.statistic-course-container {
  height: 100vh;
  .grid-item-left {
    background-color: whitesmoke;
    padding: 40px;
    height: 100vh;
    .road-block-icon {
      width: 40px;
      height: 40px;
      fill: grey;
      display: block;
      margin: auto;
    }
  }
  .grid-item-middle {
    height: 100vh;
    padding: 40px;
    overflow-y: auto;
    .semester {
      padding-bottom: 40px;
      .course-header {
        .course-header-label {
          font-weight: bold;
          font-size: 12px;
        }
      }
    }
    .statistics-courses-middle {
      overflow-y: auto;
      .semester {
        .semester-header {
          // display: flex;
          // flex-direction: row;
          font-size: 10px;
          font-weight: bold;
          height: 20px;
          padding-bottom: 10px 0px;
          text-align: center;
          .header-course-name {
          }
          .header-average-score {
            cursor: pointer;
          }
          .header-score-distribution {
          }
        }
        .course-item {
          display: flex;
          flex-direction: row;
          font-size: 12px;
          padding: 5px 0px;
          &:hover {
            background-color: #f3f3f3;
            cursor: pointer;
          }
          .course-item-name {
            display: flex;
            align-items: center;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .course-item-average-score {
            width: 22px;
            min-width: 22px;
            height: 22px;
            margin: 0px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .grid-item-right {
    background-color: whitesmoke;
    height: 100vh;
    padding: 40px;
    .statistics-courses-right {
      .course-label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
      }
      .student-count {
        margin: 20px 0px;
        b {
          font-size: 24px;
        }
      }
    }
  }
}
